body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    width: 100%;
    height: 40px;
    
   border-radius: 5px;

}
.img{
    Width:33px;
Height:30px;
margin: 0 0 0 30px;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
}
.nav li{
    display: flex;
  
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: red;
    //margin: 0 10px 0 20px;
    
}